---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
  <div class="banner">
    <div class="container pt-8 pb-16">
      <h1>{post.data.title}</h1>
    </div>
  </div>
  <div class="container pt-4">
    <Content />
  </div>
  <div class="banner mt-16">
    <div class="container pt-8 pb-14">
      <h2>Ready to upgrade your fitness in just 7 minutes?</h2>
      <p>
        Start now! With proven benefits and minimal time commitment, there's no
        excuse not to begin. Let's get moving for a healthier you!
      </p>
      <p>
        <a href="/" class="w-fit">
          <button class="button" aria-label="Let's get started">
            Let's get started →
          </button>
        </a>
      </p>
    </div>
  </div>
</Layout>
