---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Workout Completed!"
  description="Congratulations! Your workout is completed."
>
  <div class="container">
    <h1>Workout completed!</h1><p>Great job, keep going!</p>
    <p>
      If you're looking to maximize the results of your workout, good nutrition,
      adequate rest and proper sleep, is the best way to go.
    </p>
    <div class="pt-8">
      <a href={`/`}><button id="close-button" class="button">Close →</button></a
      >
      <script is:inline>
        const closeButton = document.getElementById("close-button");
        closeButton.addEventListener("click", function () {
          localStorage.removeItem("currentWorkout");
        });
      </script>
    </div>
  </div>
</Layout>
